@font-face {
	src: url('../fonts/DIN-Light.ttf');
	font-family: "DIN-Light";
}

@font-face {
	src: url('../fonts/OpenSans-Regular.ttf');
	font-family: "OpenSans-Regular";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

li { list-style-type: none; }

body {
	font: 14px 'DIN-Light';
}

/*styling the heading*/
h2, h3, h4 { color: #333; }

h2 {  font: 40px "DIN-Light"; font-weight: bold; }
h3 {  font: 18px "DIN-Light"; font-weight: bold; }
h4 {  font: 14px "DIN-Light";}
h5 {  font: 12px "DIN-Light";}

a {
	font:  12px "DIN-Light";
	text-decoration: none;
}

div[role="button"]{
	cursor: pointer;
}

header:before,
main:before,
article:before,
section:before,
footer:before,

/* The split between before and after in the same css */

header:after,
main:after,
article:after,
section:after,
footer:after {

	display: table;
	content: '';
}

header:after,
main:after,
article:after,
section:after,
footer:after {
	clear: both;
}

/* main css */
::selection{
	color: #fff;
	background: #333;
}

.text-center {
	text-align: center;
}

.clear-margin-row {
	margin-left: 0;
	margin-right: 0;
}

.clear-padding-col {
	padding-left: 0px;
	padding-right: 0px;
}

.title-sections {
	text-align: center;
	width: 100%;
}

.content-sections {
	padding: 20px 0px;
}

.title-white {
	color: #fff !important;
}

.title-sections h2 {
	font-size: 30px;
	font-family: "DIN-Light",sans-serif;
	text-transform: uppercase;
	color: #800000;
}

.title-teams h2 {
	color: #ececec !important;
}

.title-teams .line-border {
	background-color: white !important;
}

.title-teams .sub-title-sections {
	color: #fff !important;
}

.clear-padding-right-col {
	padding-right: 0px;
}

.right {float: right;}
.left {float:left;}


#logo {
	margin-top: 3px;
}

#logo img {
	position: relative;
	width: 70px;
	bottom: 15px;
}

.first-header {
	border-bottom: 1px solid #ececec;
	vertical-align: middle;
	height: 70px;
	padding: 18px;
	position: fixed;
	top: 0;
	transition: top 0.2s ease-in-out;
	z-index: 99;
	width: 100%;
	margin-bottom: 70px;
	background: #fff;
}

.nav-bar {
	text-align: right;
	margin-top: 4px;
	position: relative;
	top: 3px;
}

.nav-bar ul li {
	display: inline-block;
}

.nav-bar ul li a {
	color: #202121;
	padding:15px 20px 30px 20px;
	font-weight: bold;
	transition: all 0.3s;
}

.nav-bar ul li a:hover {
	color: #800000;
	text-decoration: none;
}

.nav-bar ul li ul {
	visibility: hidden;
	position: absolute;
	z-index: 201;
	text-align: left;
	margin-top: 25px;
	background: #333;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	transform: translateY(-20px);
	transition-delay: 0.1s;
}

.nav-bar ul li:hover ul {
	visibility: visible;
	opacity: 1;
	transform: translateY(0px);
}

/*.nav-bar ul li:last-child:hover a {
	color: #333 !important;
}*/ /*just for a while*/

.nav-bar ul li ul li:last-child:hover a {
	color: #800000 !important;
}

.nav-bar ul li ul li a:hover {
	background: #111;
}

.nav-bar ul li ul li {
	display: block;
	margin-left: 0 !important;
}

.nav-bar ul li ul li a {
	display: block;
	background: #333;
	color: #fff;
	padding: 20px 30px;
}

.nav-bar ul li:last-child ul {
	text-align: right;
	right: 2.5%;
}

.nav-up {
	top: -100px;
}

#nav-icon1 {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 70px;
	border-right: 1px solid #e0e0e0;
	padding: 25px 40px;
	cursor: pointer;
	-webkit-transform: rotateY(180deg); /* Safari */
	transform: rotateY(180deg);
}

.icon-nav span {
	display: block;
	width: 12px;
	height: 4px;
	background: #333;
	position: relative;
}

.icon-nav span:nth-child(2){
	top: 3px;
	width: 20px;
}

.icon-nav span:nth-child(3){
	top: 6px;
	width: 17px;
}

body {
	transition: 0.5s;
}

body:before {
	content: "";
	width: 100%;
	height: 100vh;
	background: #000;
	opacity: 0;
	position: fixed;
	z-index: 999;
	visibility: hidden;
	transition: all 0.5s ease-in-out;
}

body.special:before {
	content: "";
	visibility: visible;
	opacity: 0.7;
}

.icon-line {
	margin-right: 10px;
}
/*vertical navbar*/
.vertical-navbar-open {
	position: fixed;
	top: 0;
	/*bottom: 0;*/
	right: 0;
	z-index: 999;
	width: 320px;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	transform: translateX(320px);
	height: 100vh;
	background: #f4f7f6;
	overflow-y: auto;
}

.vertical-navbar-open .static-form {
	position: static;
	width: 100%;
	height: 100vh;
}

.open-navbar {
	transform: translateX(-320px);
	width: 100%;
	min-height: 100%;
	display: block;
	overflow-y:hidden;
}

.open-this-navbar {
	display: block !important;
}

.button-close-navbar-vertical {
	height: 70px;
	cursor: pointer;
	padding: 20px;
	box-sizing: border-box;
	background: #fff;
	transition: all 0.4s;
	position: static;
	display: block;
}

.button-close-navbar-vertical:hover {
	background: #f0f0f0;
}

.button-close-navbar-vertical strong {
	font-size: 20px;
	position: relative;
	bottom: 2px;
}

.navbar-vertical ul li {
	list-style: none;
}

.navbar-vertical ul li a {
	display: block;
	padding: 20px 30px;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	font-size: 16px;
}

.navbar-vertical ul li ul {
	display: none;
	background: #eee;
}

/*section slider*/
.slider {
	background: #ffffff;
	overflow: hidden;
	position: relative;
	margin-top: 70px;
}

.boxedcontainer {
	max-width: 1170px;
	margin:auto;
	padding:0px 30px;
}

.tp-banner-container{
	width:100% !important;
	position:relative;
	padding:0;

}

.tp-banner{
	width:100%;
	position:relative;
}

.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}

/*end section slider*/

/*profile*/

.profile {
	width: 100%;
	overflow: hidden;
	padding: 30px 0px;
}

/*end sections profile*/

/*division*/

section.division {
	background: #800000;
	padding: 30px 0px;
}

.list-of-division {
	text-align: center;
	padding: 0px 40px;
	position: relative;
}

.images-fill {
	width: 100%;
	overflow: hidden;
	cursor: pointer;
}

.images-fill a {
	width:50%;
	position:absolute;
	bottom:25%;
	left:25%;
	right: 25%;
	text-decoration: none;
}

.modal-header{
	background:#800000;
}

.modal-header > h4{
	color:#fff;
	letter-spacing: 2px;
}

.modal-body{

}

.modal-footer > .btn{
	color:#333;
	transition: 0.4s ease-out;
	letter-spacing: 2px;
	text-shadow: 1px 1px 1px #666;
}
.modal-footer > .btn:hover{
	color:#fff;
	background:#800000;
}


/*end sections division*/

section.program{
	padding: 30px 0;
	background: #f0f0f0;
}

.content-program {
	padding: 30px 0px;
}

.content-program > div {
	padding: 0px 30px;
}

.program-box{
	border-radius: 5px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
	transition: 0.3s ease;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	margin-bottom: 50px;
	/*height: 510px;*/
	/*height: 78vh;*/
}

.program-box:hover{
	box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

.program-desc {
	padding:10px 16px;
	/*line-height: 23px;*/
	/*color: #777;*/
	color: rgb(56,56,56);
	/*letter-spacing: 0.3px;*/
}
/* end section program*/

/*join us*/
.join-us {
	width: 100%;
	text-align: center;
	overflow: hidden;
	padding: 180px 0px;
}

.join-us h2 {
	color: #fff;
	font-family: "DIN-Light", sans-serif;
	vertical-align: middle;
	font-size: 60px;
}

.btn {
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 14px;
	line-height: 33px;
	margin: auto;
	max-width: 160px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	width: 100%;
}

.btn-1 {
	color:#fff;
	background: #800000;
	border-radius: 0;
}

.btn-1 svg {
	height: 45px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.btn-1 rect {
	fill: none;
	stroke: #fff;
	stroke-width: 2;
	stroke-dasharray:400, 0;
	-webkit-transition: all 1.75s cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 1.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-1:hover, .btn-1:active, .btn-1:focus {
	color:#fff;
}

.btn-1:hover rect {
	stroke-width: 5;
	stroke-dasharray: 30, 310;
	stroke-dashoffset: 75;
}

/*end of join us*/

/* Footer */
.foot-container{
	background-color: rgb(35,35,35);
	color:#fff;
	padding-top: 20px;
	font-size:16px;
}

.foot-fill {
	margin-bottom: 70px;
}

.foot-container i{
	margin: 5px 10px 0 0;
}

.foot-container a{
	color:#e8e8e8;
	font-size:16px;
}

.foot-isi{
	margin-top: 30px;
	color: #e8e8e8;
}

.foot-left{
	/*background-color: lime;*/
	/*padding-left: 50px;*/
}

.copyright {
	margin-top: 25px;
	background-color:#191919;
	padding: 3px 0px;
	font-size: 16px;
}

.line img{
	width: 20px;
	height: 20px;
	margin-left: -4px;
}
/* end of Footer */

/*background-parralax*/
.parallax-window {
    min-height: 500px;
    background: rgba(0, 0, 0, 0.6);
}

.second-images-slide {
	cursor: pointer;
}

.live-streaming {
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: 0;
	background: #800000;
	border-top: 3px solid #000;
	z-index: 9999999;
	display: none;
}

@media (max-width: 1024px){
	#nav-icon1{
		display: block;
	}
	.nav-bar {
		display: none;
	}
	.first-header:after,
	.static-header:after{
		display: none;
	}
	#logo {
		padding-left: 0px;
		padding-right: 0px;
	}
}

/*media for iPad*/
@media screen and (width: 768px) , screen and (height: 1024px){

}

/* other */
